.news {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(3, 1fr);
  max-height: fit-content;
}

.leftside {
  grid-column: 1/3;
  height: fit-content;
}

.main {
  padding-top: 24px;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(2, 1fr);
}

.img-desktop {
  width: 100%;
}

.img-desktop img {
  max-width: 100%;
  object-fit: contain;
}

.header {
  font-size: 3.5rem;
  font-family: Inter-ExtraBold;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-text p {
  font-weight: 700;
  line-height: 26px;
  color: var(--darkgrayishblue);
}

.btn{
  margin-top: auto;
}

.main-text .read-more {
  background-color: var(--softred);
  border: none;
  padding: 16px 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--offwhite);
  cursor: pointer;
}

.main-text .read-more:hover {
  transition: ease-in 0.3s;
  background-color: var(--verydarkblue);
}

.right-side {
  background-color: var(--verydarkblue);
  color: var(--offwhite);
  padding: 20px 20px;
  grid-column: 3/4;
}

.right-side h2 {
  color: var(--softorange);
  font-size: 2rem;
  font-family: Inter-Bold;
  padding: 14px 0;
}

.right-side-topic {
  padding: 24px 0;
}

.right-side-topic p {
  color: var(--grayishblue);
  padding: 16px 0;
}

.right-side-topic:nth-last-child(1) {
  padding: 0 0;
  padding-top: 16px;
}

.right-side-topic h3 {
  font-size: 1.3rem;
  font-family: Inter-Bold;
  cursor: pointer;
}

.right-side-topic h3:hover {
  transition: ease-in 0.2s;
  color: var(--softorange);
}

.right-side-topic:nth-child(1){
  border-bottom: 1px solid var(--grayishblue);
}

.right-side-topic:nth-child(2){
  border-bottom: 1px solid var(--grayishblue);
}

.img-active-mobile{
  display: none;
}

@media(max-width:600px){
  .news{
    display: block;
    transition: all .5s ease;
    /* filter: blur(.2rem); */
  }
  .img-active-mobile{
    display: block;
  }
  .img-active-desktop{
    display: none;
  }
  .main{
    display: block;
    padding:2rem 0;
  }
  .btn{
    padding-top: 16px;
  }

}

@media(min-width:600px) and (max-width:1000px) {
  .news{
    display: block;
  }
  .main{
    padding:24px 0;
  }
  .right-side-topics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .right-side-topic{
    border-bottom: 1px solid var(--grayishblue);
  }
}
/* 
@media(min-width:800px) {
  .news{
    display: flex;
  }
} */


